<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>gameDetailServlet</servlet-name>
        <servlet-class>demo.servlet.gameDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>processServlet</servlet-name>
        <servlet-class>demo.servlet.processServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>categoryServlet</servlet-name>
        <servlet-class>demo.servlet.categoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>productHomePageServlet</servlet-name>
        <servlet-class>demo.servlet.productHomePageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>gameListServlet</servlet-name>
        <servlet-class>demo.servlet.gameListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>gameDetailServlet</servlet-name>
        <url-pattern>/gameDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>processServlet</servlet-name>
        <url-pattern>/processServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>categoryServlet</servlet-name>
        <url-pattern>/categoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>productHomePageServlet</servlet-name>
        <url-pattern>/productHomePageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>gameListServlet</servlet-name>
        <url-pattern>/gameListServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>categoryServlet</welcome-file>
    </welcome-file-list>
</web-app>
